<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>KISprod</title>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar sticky-top navbar-light bg-light">
            <img src="../static/img/image 1.svg" alt="logo">
            <div class="container justify-content-center">
                <ul class="">
                    <li class="">
                      <a class="buc" aria-current="page" href="{{ url_for('mainpage') }}">Заседание</a>
                    </li>
                    <li class="">
                      <a class="" href="#">Добавление ППС</a>
                    </li>
                    <li class="">
                        <a class="" href="#">База шаблонов</a>
                    </li>
                    <li class="">
                        <a class="" href="#">Черновики</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
<script src="../static/js/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>